*{
	margin:0;
	padding: 0;
}
.topnav{
	width: 100%;
	height: 108px;
	position: fixed;
	top: 0px;
	z-index: 10;
	background: white;
}
.topbar{
	width: 100%;
	height: 39px;
/*	background-color:white;*/
}
.topbar .container{
	width: 1226px;
	height: 40px;
	margin: auto;
}
.topbar .container .topbarnav{
	width:400px;
	height: 39px;
	/*background: yellow;*/
	float: left;
}
.topbar .container .topbarnav a{
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	color: #b0b0b0;
	text-decoration: none;
	line-height: 39px;
}
.topbar .container .topbarnav a:hover{
	color: black;
}
.topbar .container .topbarcart{
	width:120px;
	height: 39px;
	margin-left: 15px;
/*	background: blue;*/
	float: right;
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	line-height: 39px;
	text-align: center;
}
.topbar .container .topbarcart a{
	text-decoration: none;
	color: #B0B0B0;
}
.topbar .container .topbarcart a:hover{
	color: black;
}
.topbar .container .topbarinfo{
	width:142px;
	height: 39px;
/*	background: green;*/
	float: right;
}
.topbar .container .topbarinfo a{
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	color: #b0b0b0;
	text-decoration: none;
	line-height: 39px;
}
.topbar .container .topbarinfo a:hover{
	color: black;
}
.site-header{
	width: 100%;
	height: 69px;
/*	background: red;*/
	text-align: center;
}
.site-header .container{
	
	width: 1226px;
	height: 69px;
	margin: auto;
/*	background: blue;*/
}
.site-header .container .header-logo{
	width: 62px;
	height: 55px;
/*	background: green;*/
	margin:5px auto;
	float: left;
}
.site-header .container .header-logo img{
	cursor: pointer;
}
.site-header .container .header-nav{
	float:left;
	width: 850px;
	height: 69px;
/*	background: firebrick;*/
	line-height: 69px;
}
.site-header .container .header-nav .blank{
	position: relative;
	width: 127px;

	float: left;
/*	background: #FFFF00;*/
}
/*.site-header .container .header-nav .blank .category{
	text-align: right;
	padding: 26px 0 38px;
}*/
.site-header .container .header-nav ul{
	position: relative;
	float: left;
	width: 820px;
	height: 69px;
	margin: 0px;
	padding: 12px 0 0 30px;
	list-style: none;
	font-size: 16px;
}
.site-header .container .header-nav .nav-item{
	float: right;
	list-style: none;
	margin-left: 40px;
}
.site-header .container .header-nav .nav-item a{
	color: #B0B0B0;
}
.site-header .container .header-nav .nav-item .link{
	text-decoration: none;
	padding: 26px 10px 38px;
}
.site-header .container .header-nav .nav-item  a:hover{
	color: black;
}

.site-header .container .header-search{
	padding-top: 25px;
}
.site-header .container .header-nav .nav-item .subnav-container{
	border: 1px solid white;
	width: 100%;
	height: 406px;
	position: fixed;
	background: white;
	top: 108px;
	left: 0px;
	display: none;
}
.site-header .container .header-nav .nav-item a:hover+.subnav-container{
	display: block;
}
.site-header .container .header-nav .nav-item .subnav-container:hover.subnav-container{
	display: block;
}
.subnav-container .floatinfo1{
	width: 20%;
	height: 300px;
/*	background: yellow;*/
	float: left;
	margin-top: 50px;
}
.subnav-container .floatinfo2{
	width: 15%;
	height: 300px;
/*	background: red;*/
	float: left;
	margin-top: 50px;
	border-right:1px solid darkgray;
}
.subnav-container .floatinfo3{
	width: 15%;
	height: 300px;
/*	background: yellow;*/
	float: left;
	margin-top: 50px;
	padding-left: 30px;
}
.subnav-container .floatinfo4{
	width: 10%;
	height: 300px;
/*	background: green;*/
	float: left;
	margin-top: 50px;
	border-right:1px solid darkgray;
}
.subnav-container .floatinfo5{
	width: 10%;
	height: 300px;
/*	background: yellow;*/
	float: left;
	margin-top: 50px;
	padding-left: 30px;
}
.subnav-container .floatinfo6{
	width: 10%;
	height: 300px;
/*	background: blue;*/
	float: left;
	margin-top: 50px;
}
.subnav-container .floatinfo7{
	width: 20%;
	height: 300px;
/*	background: yellow;*/
	float: left;
	margin-top: 50px;
}
.subnav-container div{
	display: inline-block;
	line-height: 30px;
	text-align: left;
}
.goods{
	margin-top: 108px;
	width: 1226px;
	height: 614px;
	margin-left: 33px;
/*	background: #F5F5F5;*/
}
.goods .left2{
	position: fixed;
	width: 217px;
	height: 500px;
/*	background: green;*/
	float: left;
}
.goods .left2 .topblank{
	width: 217px;
	height: 92px;
/*	background: yellow;*/
	margin-top: 0px
}
.goods .left2 .left-top{
	padding-top: 20px;
	width: 100%;
	height: 163px;
	display: inline-block;
	line-height: 25px;
}
.goods .left2 a{
	text-decoration: none;
	color: black;
}
.goods .left2 a:hover{
	color: darkgray;
}
.goods .right8{
	margin-left: 255px;
	width: 992px;
	height: 614px;
	float: left;
	background: white;
}
.goods .right8 .topjianjie{
	width: 992px;
	height: 92px;
/*	background: red;*/
	line-height: 120px;
	padding-bottom: 0;
	}
.goods .right8 .top4{
	width: 1000px;
	height: 342px;
	float: left;
	margin-top: 2px;
/*	background: pink;*/
}
.goods .right8 .top4 .tele{
	width: 246px;
	height: 342px;
	float: left;
	margin-left: 1px;
/*	margin-top: 14px;*/
	background: white;
	border: 1px solid white;
	/*box-shadow: 0px 5px 5px #000000;*/
	overflow: hidden;
	transition: 0.5s;
	z-index: 1;
/*	visibility: hidden;*/
}
.goods .right8 .top4 .tele .shoeskind{
	position: absolute;
	margin: auto;
	background: white;
	height: 180px;
	width: 245px;
	margin-left:0px;
	display: none;
}
.goods .right8 .top4 .tele .shoeskind img{
	padding-left: 30px;
}
.goods .right8 .top4 .tele:hover .shoeskind{
	display: block;
	border: 1px solid #CCC;
	border-top: none;
	box-shadow: 0px 5px 5px #000000;
}
.goods .right8 .top4 .tele:hover{
	box-shadow: 0px 5px 5px #000000;
/*	position: relative;
	top: 2px;*/
	display: block;
}
.underline{
	margin-left: 15px;
	width: 221px;
}
.goods .right8 .top4 .tele a{
	padding-left: 15px;
	text-decoration: none;
	color: black;
}
.goods .right8 .top4 .tele .price{
	color: #CCC;
}
.goods .right8 .top4 .tele:hover{
	border: 1px solid #CCC;
}
.goods .right8 .top4 .tele img{
	padding: 16px 12.5px;	
}
.goods .right8 .bottom4 .tele{
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-top: 14px;
	background: white;
}
.goods .right8 .bottom4{
	width: 992px;
	height: 307px;
	float: left;
	background: black;
}
.bottom{
	position: relative;
	margin-top: 700px;
	width: 1349px;
	bottom: 0px;
	width: 100%;
	height: 278px;
	background: white;
}
.bottom .webstat{
	position: relative;
	z-index: 2;
	margin-bottom: 0px;
/*	background: yellow;*/
	height: 278px;
}
.bottom .webstat .title{
	height: 10px;
	margin: 30px 85px 85px;
	text-align: center;
	line-height: 100px;
	font-size: ;
	box-shadow: 0px -5px 5px #CCCCCC;
}
.bottom .webstat .information{
	text-align: center;
}
.finally{

	clear: both;
	width: 1349px;
	height: 278px;
	/*margin-left: 0px;*/
	background: #191919;
	margin-top: 0px;
}
			.finatext{
				width: 200px;
				height: 238px;
				float: left;
				margin-left: 10px;
				color: gray;
				padding-top: 10px;
				line-height: 30px;				
			}
			.finally .finatext ul li{
				list-style: none;
				cursor: pointer;
			}
			.finally .finatext ul li:hover{
				color: white;
			}
			.finapic{
				width: 250px;
				height: 248px;
				margin-right: 100px;
				float: right;
				
			}
			.finapic .pic{
				margin-left: 120px;
				margin-top:10px ;
				width: 34px;
				height: 38px;
				background: url(../img/an.png);
				/*float: right;*/
			} 
			.finapic .pic:hover{
				background: url(../img/ming.png);
			}
			.finapic .lastpic{
				width: 126px;
				height: 125px;
				background: url(../img/ma.png);
				display: none;
				/*position: relative;
				z-index: 1;*/
			}
			.pic:hover+.lastpic{
				display: block;
			}